.welcome {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  margin-left: 4.7%;
  text-align: center; }

p {
  margin-top: 25px;
  font-size: 40px;
  color: white; }

.welcomeMini {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: auto;
  text-align: center;
  -webkit-animation: spinMini 3s forwards;
  -webkit-animation-delay: 1s; }
  .welcomeMini p {
    font-size: 30px;
    padding-top: 70px; }

.welcome#sa {
  -webkit-animation: spinA 3s forwards;
  -webkit-animation-delay: 1s; }

.welcome#ku {
  -webkit-animation: spinB 3s forwards;
  -webkit-animation-delay: 2s; }

.welcome#ra {
  -webkit-animation: spinA 3s forwards;
  -webkit-animation-delay: 3s; }

.welcome#gaku {
  -webkit-animation: spinB 3s forwards;
  -webkit-animation-delay: 4s; }

.welcome#en {
  -webkit-animation: spinA 3s forwards;
  -webkit-animation-delay: 5s; }

@-webkit-keyframes spinA {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(35vh);
    background-color: #e79aaf; } }
@-moz-keyframes spinA {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(35vh);
    background-color: #e79aaf; } }
@keyframes spinA {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(35vh);
    background-color: #e79aaf; } }
@-webkit-keyframes spinB {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #237c99; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #e79aaf; }
  100% {
    transform: translateY(35vh);
    background-color: #237c99; } }
@-moz-keyframes spinB {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #237c99; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #e79aaf; }
  100% {
    transform: translateY(35vh);
    background-color: #237c99; } }
@keyframes spinB {
  70% {
    transform: translateY(35vh) rotate(390deg);
    background-color: #237c99; }
  85% {
    transform: translateY(20vh) rotate(-30deg);
    background-color: #e79aaf; }
  100% {
    transform: translateY(35vh);
    background-color: #237c99; } }
@-webkit-keyframes spinMini {
  70% {
    transform: translateY(25vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(15vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(25vh);
    background-color: #e79aaf; } }
@-moz-keyframes spinMini {
  70% {
    transform: translateY(25vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(15vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(25vh);
    background-color: #e79aaf; } }
@keyframes spinMini {
  70% {
    transform: translateY(25vh) rotate(390deg);
    background-color: #e79aaf; }
  85% {
    transform: translateY(15vh) rotate(-30deg);
    background-color: #237c99; }
  100% {
    transform: translateY(25vh);
    background-color: #e79aaf; } }
@media (min-width: 0px) {
  .intro {
    display: none; } }
@media (min-width: 730px) {
  .intro {
    display: inline; }

  .intro2, .welcomeMini {
    display: none; } }
@media (min-width: 992px) {
  .welcome#sa {
    margin-left: 12%; } }
@media (min-width: 1200px) {
  .welcome#sa {
    margin-left: 18%; } }
.nav-wrapper {
  margin-top: 10px;
  width: 100%;
  position: fixed;
  z-index: 5000; }

nav {
  width: 350px;
  margin: auto; }

nav ul {
  display: inline;
  padding: 30px; }

nav ul li {
  display: inline; }

nav ul li a {
  text-decoration: none;
  font-size: 12px;
  margin-right: 25px; }

.navArrow {
  width: 100%;
  z-index: 5000;
  margin-top: 41vh;
  height: 20px;
  position: absolute; }

.navLeft {
  float: left;
  margin-left: 2%; }
  .navLeft a {
    font-size: 15px; }

.navRight {
  float: right;
  margin-right: 2%; }
  .navRight a {
    font-size: 15px; }

@media (max-width: 400px) {
  .navArrow {
    margin-top: 46vh; }

  .navLeft {
    margin-left: 5%; }

  .navRight {
    margin-right: 5%; } }
.footerWrapper {
  margin-top: 90vh;
  width: 100%;
  position: fixed;
  z-index: 5001; }

.footer {
  width: 460px;
  margin: auto; }
  .footer p {
    font-size: 12px;
    color: black; }

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden; }

.bigwrap {
  width: 300%;
  height: 200vh; }

section {
  height: 100vh;
  width: 33.33333333%;
  float: left;
  display: inline block; }

#about, #faq, #kids {
  background-color: #e79aaf; }

#news, #more {
  background-color: #237c99; }

a {
  color: black; }

/*# sourceMappingURL=main.css.map */
