@import '../bourbon/bourbon';
@import 'buttons';
@import 'nav';

body 
{
	font-family: 'Josefin Sans', sans-serif;
	overflow:hidden;
}

.bigwrap 
{
	width:300%;
	height:200vh;
}

section
{
	height:100vh;
	width:33.33333333%;
	float:left;
	display:inline block;
}

#about, #faq, #kids
{
	background-color:rgb(231,154,175);
}

#news, #more
{
	background-color:rgb(35,124,153)
}

a {
	color:black;
}